.title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.description{
    text-align: center;
}

:root {
    --font-mono: ui-monospace,
Menlo, Monaco, "Cascadia Mono",
"Segoue UI Mono",
"Roboto Mono", "Oxygen Mono",
"Ubuntu Monospace",
"Source Code Pro",
"Fira Mono", "Droid Sans Mono",
"Courier New", monospace;
 --color-text-main: #333;
 --color-text-sub: #999;
 --color-text-unpainted: #fff;
 --color-text-error: #f33;
 --cloor-bg-main: #fff;
 --color-bg-sub: #f3f3f3;
 --color-bg-code: #fafafa;
 --color-bg-painted: #333;
 --color-bordader-dark: #333;
 --color-border: #ddd;
 --color-border-light: #f3f3f3;
 --color-current-line: #eee;
 --color-button-primary: #333;
 --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    YuGothic,
    "ヒラギノ角ゴ Pro W3",
    Hiragino Kaku Gothic ProN,
    Arial,
    "メイリオ",
    Meiryo,
    sans-serif;
  sans-serif;
color: var(--color-text-main);
line-height: 1,8;
}

code {
    font-family: menlo,
 inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
    list-style: none;
}